.container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
h2 {
    text-align: center;
    margin-bottom: 30px;
}
.projet {
    width: 70%;
    border: none;
    border: 1px solid grey;
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 30px;
    background-color: rgb(25, 27, 28);
    transition: 0.7s;
}
.content {
    width: 90%;
    margin: auto;
}
.projet:hover {
    width: 69%;
    background-color: rgb(18, 20, 20);
    transition: 0.7s;
    border: 1px solid grey;
    // cursor: pointer;
}
p {
    display: block;
}
button {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.content > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}