.container {
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 50%;
    border: 1px solid grey;
    border-radius: 8px;
    background-color: rgb(25, 27, 28);
}


form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;
    flex-flow: column;
}
div{
    justify-content: center;
    width: 100%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    // padding: 0;
}
input, select, textarea  {
    background-color: rgb(43, 50, 53);
    width: 90%;
    padding: 12px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    transition: 0.5s;
}
select{
    // margin-top: 20px;
    width: 94%;
    cursor: pointer;
}
input:hover, select:hover, textarea:hover, input:focus, select:focus, textarea:focus {
    background-color: rgb(58, 58, 83);
    transition: 0.5s;
}
input:hover, textarea:hover, input:focus, textarea:focus{
    width: 89%;
}
select:hover, select:focus{
    width:93%;
}

::placeholder{
    color: white;
}


h2 {
    text-align: center;
}

input[type="submit"] {
    background-color: rgb(47, 47, 196);
    width: 60%;
    // border: none;
    // border-radius: 5px;
    // padding: 12.5px;
    // cursor: pointer;
    // transition: 0.5s;
    margin-bottom: 20px;
    // margin-top: 20px;
}
input[type="submit"]:hover {
    background-color: #3459ff;
    transition: 0.5s;
}

span{
    display: block;
    margin: auto;
    text-align: center;
    color: rgb(204, 4, 4);
}
