.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-between;
    width: 80%;
    margin-top: 40px;
}
.freelance{
    margin: auto;
    width: 25%;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 20px;
    justify-content: space-around;
    background-color: rgb(25, 27, 28);
    margin: 20px;
}
.freelance:hover{
    background-color: rgb(21, 22, 22);
}

.freelance > div{
    margin: 20px;
    padding: 5px;
}
i{
    margin-right: 10px;
}
#buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}